:root {
    --myBorderColor: rgb(180, 180, 180);
    --myBackgroundColor: #202124;
    --myHoverNavColor: #2f2f31;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--myBackgroundColor);
    font-family: Arial, Helvetica, sans-serif;
}


/* whenContanerEmpty */

.whenContanerEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.whenContanerEmpty svg {
    width: 120px;
    height: 120px;
    opacity: 0.2;
    color: var(--myBorderColor);
}

.whenContanerEmpty h1 {
    font-size: 25px;
    opacity: 0.6;
    color: var(--myBorderColor);
}


/* whenContanerEmpty */

.selectedItemsDrop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--myBackgroundColor);
    border-bottom: 1px solid var(--myBorderColor);
    height: 50px;
    padding: 10px;
}

.closeSelectedAndLength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.closeSelectedAndLength .closeSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
}

.closeSelectedAndLength .closeSelected:hover {
    background-color: var(--myHoverNavColor);
}

.closeSelectedAndLength .closeSelected svg {
    width: 30px;
    cursor: pointer;
    color: var(--myBorderColor);
}

.closeSelectedAndLength h2 {
    font-size: 22px;
    color: var(--myBorderColor);
    letter-spacing: 1px;
}

.iconsSelected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.iconsSelected div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
}

.iconsSelected div:hover {
    background-color: var(--myHoverNavColor);
}

.iconsSelected div svg {
    width: 25px;
    color: rgb(116, 160, 226);
    cursor: pointer;
}

.TopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--myBackgroundColor);
    border-bottom: 1px solid var(--myBorderColor);
    width: 100%;
    height: 70px;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
}

.zIndex {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.zIndexMinus {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.containerLeft {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
}

.containerMenuIcon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
}

.containerMenuIcon:hover {
    background-color: var(--myHoverNavColor);
}

.menuIcon {
    width: 30px;
    color: var(--myBorderColor);
    cursor: pointer;
}

.containerLogo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.containerLogo svg {
    width: 40px;
    height: 40px;
}

.containerLogo span {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.containerMidle {
    border-radius: 5px;
    width: 55%;
    height: 90%;
    background-color: rgb(85, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -250px;
    cursor: pointer;
}

.containerSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 90%; */
    padding: 10px;
    border-radius: 5px;
}

.containerSearch .searchIcon {
    color: white;
    width: 25px;
}

.containerSearch .closeIcon {
    color: black;
    width: 25px;
}

.containerSearch .searchBox {
    background-color: transparent;
    width: 90%;
    height: 85%;
    border: none;
    outline: none;
    margin-left: 10px;
}

.containerSearch .searchBox::placeholder {
    font-size: 17px;
    font-weight: 500;
    color: rgb(230, 228, 228);
}

.containerSearch .changeColorClass {
    background-color: transparent;
    width: 90%;
    height: 85%;
    border: none;
    outline: none;
    margin-left: 10px;
}

.changeColorClass::placeholder {
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.containerRight {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.containerRight:hover {
    background-color: var(--myHoverNavColor);
}

.defoultLeyout {
    width: 30px;
    height: 30px;
    color: var(--myBorderColor);
}

.linearLeyout {
    width: 25px;
    height: 30px;
    color: var(--myBorderColor);
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.closeIcon {
    visibility: hidden;
}

.LeftBar {
    width: 250px;
    height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px 0;
    box-shadow: 10px 0 8px rgba(0, 0, 0, 0.1);
    transition: ease-in-out .5s;
}

.LeftBar .containerLeftBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 10px 0;
}

.LeftBar .containerLeftBar .iconNav {
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: auto 0;
}

.LeftBar .containerLeftBar .iconNavClass {
    margin-top: -1px;
}

.iconNavClass {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconNavClass:hover {
    background-color: var(--myHoverNavColor);
}

.LeftBar .containerLeftBar .iconNavClass svg {
    width: 25px;
    height: 25px;
    color: var(--myBorderColor);
}

.LeftBar .containerLeftBar .iconNav:hover {
    background-color: var(--myHoverNavColor);
}

.LeftBar .containerLeftBar .iconNav svg {
    width: 25px;
    height: 25px;
    color: var(--myBorderColor);
    margin-left: 20px;
}

.MidleContent {
    /* border: 1px solid red; */
    width: 75%;
    height: calc(100vh - 75px);
    float: right;
    margin-top: -550px;
    overflow-y: auto;
    margin-left: 20%;
    transition: ease-in-out .5s;
}

.AddCard {
    width: 50%;
    min-height: 50px;
    background-color: var(--myBackgroundColor);
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 15px;
}


/* add display none */

.AddCard .titleAndPinIcon {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.AddCard .titleAndPinIcon input {
    width: 70%;
    height: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
}

.AddCard .titleAndPinIcon input::placeholder {
    font-size: 19px;
    font-weight: 500;
    padding-top: 20px;
}

.AddCard .titleAndPinIcon .pinIconContainer {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.AddCard .titleAndPinIcon .pinIconContainer:hover {
    background-color: var(--myHoverNavColor);
}

.AddCard .titleAndPinIcon .pinIconContainer svg {
    width: 24px;
    height: 24px;
    float: right;
    color: var(--myBorderColor);
}

.pinIconChecked {
    display: none;
}

.AddCard .textNote {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AddCard .textNote textarea {
    width: 70%;
    height: 95%;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    overflow: hidden;
    padding-top: 20px;
}

.AddCard .textNote textarea::placeholder {
    font-size: 19px;
    font-weight: 500;
}

.AddCard .textNote .treeIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    color: var(--myBorderColor);
}

.AddCard .textNote .treeIcons div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.AddCard .textNote .treeIcons div svg {
    width: 24px;
    height: 24px;
}

.AddCard .textNote .treeIcons div:hover {
    background-color: var(--myHoverNavColor);
}

.imageIc input {
    display: none;
}


/* add display none */

.AddCard .iconsAction {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    margin-bottom: 5px;
    margin-top: 10px;
    border-top: 1px solid var(--myBorderColor);
    padding-top: 10px;
}

.AddCard .iconsAction .closeBtn {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddCard .iconsAction .closeBtn .closeBtnItself {
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.AddCard .iconsAction .closeBtn button:hover {
    background-color: var(--myHoverNavColor);
}


/* .AddCard .iconsAction .iconsBtn {
    padding-top: 20px;
    width: 45%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


/* .AddCard .iconsAction .iconsBtn div {
    border-radius: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.AddCard .iconsAction .iconsBtn div:hover {
    background-color: var(--myHoverNavColor);
}

.AddCard .iconsAction .iconsBtn div svg {
    color: var(--myBorderColor);
    width: 20px;
    height: 20px;
}

.containerNotes {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    /* border: 1px solid rgb(0, 255, 0); */
}

.normalFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.columnFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* .parentDivNote {
    min-width: 220px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--myBorderColor);
    margin: 10px;
    padding: 5px;
} */

.textNoteContainer {
    width: 85%;
    height: 70%;
    margin-top: -10px;
}

.titleValue {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 5px;
}

.noteValue {
    color: white;
    font-size: 16px;
    margin-left: 5px;
}

.containerReminder {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid rgb(0, 255, 0); */
    display: none;
}

.containerLabel {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid rgb(0, 255, 0); */
    display: none;
}

.containerArchive {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid rgb(0, 255, 0); */
    display: none;
}

.containerDelete {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid rgb(0, 255, 0); */
    display: none;
}


/* .divBottomIconsNote {
    width: 100%;
    height: 25px;
    visibility: hidden;
    border: 1px solid red;
} */

.divBottomIconsNoteContainer {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(4, 0, 255); */
}

.divBottomIconsDelete {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid rgb(30, 255, 0); */
    display: none;
}

.pinnedContainer {
    width: 100%;
    /* border: 1px solid blue; */
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.781);
}

.none {
    display: none;
}

.actualePinnedContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid rgb(225, 0, 255); */
}

.pinnedTitle {
    color: var(--myBorderColor);
    font-size: 11px;
    letter-spacing: 2px;
    margin-left: 10px;
}

.imageForCardNote {
    width: 220px;
    height: 100px;
}

.divBottomIconsNote {
    width: 100%;
    height: 25px;
    visibility: hidden;
    /* border: 1px solid red; */
    margin-top: 50px;
}

.parentDivNote {
    min-width: 220px;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid var(--myBorderColor);
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.containerImage {
    width: 100%;
    margin-top: -10px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    display: none;
}

.divDelete {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    float: right;
    margin-left: -40px;
    position: relative;
    margin-top: 70px;
    cursor: pointer;
}

.divDelete:hover {
    background-color: var(--myHoverNavColor);
}

.deleteImage {
    width: 20px;
    height: 20px;
    color: var(--myBorderColor);
}

.deleteImage:hover {
    width: 22px;
    height: 22px;
}

.containerPaleteColor {
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: var(--myBackgroundColor);
    border: 1px solid var(--myBorderColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /* display: none; */
}

.containerPaleteColorTop {
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: var(--myBackgroundColor);
    border: 1px solid var(--myBorderColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    left: -1;
    right: 0;
}

.containerPaleteColorTop>div {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.noneColor {
    display: none;
}

.containerPaleteColor>div {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.containerDateAndTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--myBackgroundColor);
    border: 1px solid var(--myBorderColor);
    border-radius: 5px;
    width: 250px;
    height: 110px;
    position: absolute;
    margin-left: -26px;
    margin-top: 10px;
    padding: 10px;
}

.noneDate {
    display: none;
}

.inputDate {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 30px;
    color: white;
    outline: none;
    color-scheme: dark;
}

.inputDate:before {
    content: "Pick a date:";
    padding-right: 50px;
}

.inputTime {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 30px;
    color: white;
    outline: none;
    color-scheme: dark;
}

.inputTime:before {
    content: "Pick an hour:";
    padding-right: 50px;
}

.saveDT {
    width: 95%;
    height: 30px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    margin-top: 5px;
}

.saveDT:hover {
    background-color: #3b3b3b;
}